// Place all the styles related to the Nice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit.special{
	height: 72px;
	overflow: hidden;
	
	.drop{
		position: relative;
	}
}

.state-get_basic_a{
	.set2, .set3{
		opacity: 0.4;
	}
}

.state-get_basic_b{
	.set1, .set3{
		opacity: 0.4;
	}
}

.state-get_basic_c{
	.set1, .set2{
		opacity: 0.4;
	}
}