// Place all the styles related to the Nice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Source code block styling
code.as-ref{
	border-color: #888888;
	
	-webkit-border-radius: 0;		
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius: 0;	
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

pre.prettyprint{
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	border-radius: 4px;
	border-top-left-radius: 0;
}

// sub navigation fix
.container .subnav{
	width: 940px;
	margin: 0 auto;
}

.container .subnav-fixed {
	position: fixed;
	top: 40px;
	
	.btn:first-child{
		-webkit-border-radius: 0;		
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius: 0;	
		-moz-border-radius-bottomleft: 4px;
		border-bottom-left-radius: 4px; }
		
	.btn:last-child{
		-webkit-border-radius: 0;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius: 0;	
		-moz-border-radius-bottomright: 4px;
		border-bottom-right-radius: 4px; }		
}

// bootstrap layout overrides
.container{
	.span4{
		min-height: 1px;	// let it always take place, even if it's empty
	}
	.hero-unit{ 	
		overflow: hidden;
			
		h1{
			font-size: 40px;
		}
	}
	
	h2{
		font-size: 18px;
		margin-bottom: 0;
	}
}

// State specific styles

.state-a .hero-unit.special{
	background-color: lightgreen;
}

.state-b .hero-unit.special{
	background-color: pink;
}

.state-c .hero-unit.special{
	background-color: lightblue;
}

// transitions
@-keyframes dropIn {
	from {top: -130px;}
	to {top: 0px;}
}

@-webkit-keyframes dropIn {
	from {top: -130px;}
	to {top: 0px;}
}

@-moz-keyframes dropIn {
	from {top: -130px;}
	to {top: 0px;}
}

@-o-keyframes dropIn {
	from {top: -130px;}
	to {top: 0px;}
}

.drop-in{
	position: relative;
	
	-animation: dropIn 1s;
	-animation-timing-function: ease-out;
	
	-webkit-animation: dropIn 1s;
	-webkit-animation-timing-function: ease-out;
	
	-moz-animation: dropIn 1s;
	-moz-animation-timing-function: ease-out;
	
	-o-animation: dropIn 1s;
	-o-animation-timing-function: ease-out;		
}

@-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1.0;}	
}

@-webkit-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1.0;}	
}

@-moz-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1.0;}	
}

@-o-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1.0;}	
}

.fade-in{
	-animation: fadeIn 1s;
	-animation-timing-function: ease-out;	
	
	-webkit-animation: fadeIn 1s;
	-webkit-animation-timing-function: ease-out;
	
	-moz-animation: fadeIn 1s;
	-moz-animation-timing-function: ease-out;
	
	-o-animation: fadeIn 1s;
	-o-animation-timing-function: ease-out;			
}

@-keyframes rotateIn{
	from {
		-transform: scale(0.1,0.1) rotate(0deg);
    }
	to {
	  	-transform: scale(1.0,1.0) rotate(360deg);
	}
}

@-webkit-keyframes rotateIn{
	from {
		-webkit-transform: scale(0.1,0.1) rotate(0deg);
    }
	to {
		-webkit-transform: scale(1.0,1.0) rotate(360deg);		
	}
}

@-moz-keyframes rotateIn{
	from {
	  	-moz-transform: scale(0.1,0.1) rotate(0deg);
    }
	to {
	  	-moz-transform: scale(1.0,1.0) rotate(360deg);
	}
}

@-o-keyframes rotateIn{
	from {
	  	-o-transform: scale(0.1,0.1) rotate(0deg);		
    }
	to {
	  	-o-transform: scale(1.0,1.0) rotate(360deg);
	}
}

.rotate-in{
	-animation:rotateIn 1s;
	-animation-timing-function: ease-out;	
	
	-webkit-animation:rotateIn 1s;
	-webkit-animation-timing-function: ease-out;	

	-moz-animation:rotateIn 1s;
	-moz-animation-timing-function: ease-out;	

	-o-animation:rotateIn 1s;
	-o-animation-timing-function: ease-out;		
}